extends layout

block content
    .row
        .col-md-2
          img(src='/images/shoukaku.png',style="display:inline")
          h3 Learning CSS!
          a(href="/") Back to Home
        .col-md-10
          .row  
            .page-header(style="font-size:24px") Test here!
            .content(style="border:1px solid #eeeeee;background-color:#eeeeee")
                p test1
                p test2
                p test3