extends layout

block content
  .row
    .col-md-9
      h1= title
      p From delusion lead me to truth. From darkness lead me to light. From death lead me to immortality.
      h2(style="margin-top:56px") I'm Learning CSS
      a(href='/css', style="display:block") See it!
    .col-md-3
      .shoukaku(style="float:right;top:-40px")
        .hello(style="display:inline-block")
            h2(style="font-style:italic;display:inline;margin-left:24px;display:block;color:#00b7ca") Teitokun
            h2(style="font-style:italic;display:inline;margin-left:24px;display:block;color:#00b7ca") Welcome Back!
        img(src="/images/hello.png", style="display:inline-block;float:right")

  
