doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    block stylesheet
  body
    block content
  
  script(src='/javascripts/bootstrap.min.js')
  block js
